name: Build, Test, and Publish Module

on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

  release:
    types:
    - published

jobs:
  test_build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Test module
      shell: pwsh
      run: ./test.ps1

    - name: Build nupkg
      shell: pwsh
      run: ./build.ps1

    - name: Upload nupkg artifact
      uses: actions/upload-artifact@v6
      with:
        name: PSModule
        path: ./output/*.nupkg

  publish:
    runs-on: ubuntu-latest
    needs: test_build

    permissions:
      contents: write  # Needed to publish GitHub release asset
      packages: write  # Needed to publish to GitHub Nuget and OCI Repository

    steps:
    # We checkout the code to access publish_oci.ps1
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Download nupkg artifact
      uses: actions/download-artifact@v7
      with:
        name: PSModule
        path: ./output

    - name: Upload nupkg to Release
      if: startsWith(github.event.release.tag_name, 'v')
      shell: pwsh
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        $ErrorActionPreference = 'Stop'

        $nupkgPath = (Get-Item -Path './output/*.nupkg').FullName
        $ghEvent = Get-Content -LiteralPath $env:GITHUB_EVENT_PATH | ConvertFrom-Json

        gh release upload $ghEvent.release.tag_name $nupkgPath

    - name: Publish to GitHub Nuget and OCI Repositories
      if: startsWith(github.event.release.tag_name, 'v')
      shell: pwsh
      env:
        GITHUB_OWNER: ${{ github.repository_owner }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        $ErrorActionPreference = 'Stop'
        $ErrorView = 'DetailedView'

        $nupkgPath = (Get-Item -Path './output/*.nupkg').FullName

        $publishArgs = @(
            'nuget', 'push', $nupkgPath
            '--api-key', $env:GITHUB_TOKEN
            '--source', "https://nuget.pkg.github.com/$env:GITHUB_OWNER/index.json"
        )
        dotnet @publishArgs

        Import-Module -Name ./Oci.psm1

        $cred = [PSCredential]::new(
            $env:GITHUB_OWNER,
            (ConvertTo-SecureString -AsPlainText -Force -String $env:GITHUB_TOKEN))
        $ociParams = @{
            Registry = 'ghcr.io'
            Path = $nupkgPath
            Credential = $cred
            PackagePrefix = $cred.UserName
        }
        Publish-NupkgToOci @ociParams -Verbose
